@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  list-style-type: none;
  /* added the following from solutions file */
  /* this will fix the sizing of the header / footer */
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links
{
  gap: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 16px;
}

.content
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* equivalent to setting height equal to the body
     generally it is better to use flex: 1; instead.
  */
  flex: 1; 
}

.buttons {
  padding: 8px 16px;
}